@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message <a class="btn-link" href="https://twitter.com/FlywingsS">info...</a></h3>

<address>
    Cameroun<br />
    Douala, BP 2548<br />
    <abbr title="Phone">P:</abbr>
    +237 695 660 689
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:stephanetamko@gmail.com">stephanetamko@gmail.com</a><br />
    
</address>